[submodule "powershell-client"]
	path = powershell-client
	url = https://github.com/yoke88/PSPHPIPAM.git
[submodule "phpipam-pyclient"]
	path = phpipam-pyclient
	url = https://github.com/viniciusarcanjo/phpipam-pyclient.git
[submodule "ruby_phpipam"]
	path = ruby_phpipam
	url = https://github.com/AminArria/ruby_phpipam.git

